/* GLOBAL */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* WRAPPER */
.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 90vh;
}


/* LEFT COLUMN */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 45rem;
}


/* RIGHT COLUMN */
.instagram-login {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-bottom: 0.7rem;
}


/* RIGHT COLUMN, FIRST CONTAINER */
.container:nth-child(1) {
    min-height: 20rem;
}

.instagram-logo {
    margin-top: 5%;
    margin-bottom: 3%;
}

.info-input {
    padding: 12px;
    width: 75%;
    border-radius: 3px;
    border: 1px solid lightgray;
    background: #fafafa;
    flex-grow: 0.1;
    font-size: 12px;
    text-overflow: ellipsis;
}

.info-input:focus {
    outline-color: gray;
}

.sign-in {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    width: 75%;
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}


/* RIGHT COLUMN, SECOND CONTAINER */
.no-account {
    text-align: center;
}


.sign-up {
    color: #0095f6;
    font-weight: bold;
}


/* RIGHT COLUMN, APP DOWNLOAD */
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    

}

.download-it {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    margin: 0 0.5rem;
    background-size: contain;
}

.app-download:nth-child(1) {
    background-image: url('./images/app-store.png');
}

.app-download:nth-child(2) {
    background-image: url('./images/google-play.png');
}


/* media queries */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-login {
        width: 100%;
    }
    
    .container {
        border: 1px solid transparent;
    }
}

@media (max-width:300px) {
    .download-it {
        display: flex;
        flex-direction: column;
    }
}